/*

!/.gitignore
!/README.md

!/.config
/.config/*

!/.local/
/.local/*

!/.local/bin/
/.local/bin/*

!/.config/alacritty/
!/.config/shell/
!/.config/chromium-flags.conf
!/.config/git/
!/.config/sway/
!/.config/user-dirs.dirs
!/.config/waybar/
!/.config/zathura/zathurarc
!/.config/zsh/

!/.local/bin/compileandrun
!/.local/bin/compiler
!/.local/bin/connect-to-server
!/.local/bin/download-video
!/.local/bin/menu
!/.local/bin/setop
!/.local/bin/theme
!/.local/bin/update-grub
!/.local/bin/ytdl
!/.local/bin/notesearch
