@define-color gv_black #282828;
@define-color gv_red #cc241d;
@define-color gv_green #98971a;
@define-color gv_yellow #d79921;
@define-color gv_blue #458588;
@define-color gv_magenta #b16286;
@define-color gv_cyan #689d6a;
@define-color gv_white #a89984;

* {
    font-family: 'FiraCode Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

window#waybar {
	background-color: #282828;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
window#waybar.chromium {
    background-color: #000000;
    border: none;
}

window#waybar.alacritty {
    background-color: #3F3F3F;
}

*/

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    /* Avoid rounded borders under each workspace name */
	border-radius: 0;
	/*transition: 200ms;*/
	border: solid;
	border-width: 1px;
	border-color: #282828;
	transition: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-color: #282828;
    /*border-radius: 0.25rem;*/
	border-color: #d4869b;
}

/* this is for sway  */
/* #workspaces button.active { */
/* 	border-color: #d4869b; */
/* 	color: @gv_magenta;  */
/* } */

#workspaces button.active {
    /*background-color: rgba(255, 255, 255, 0.4);*/
    /*border-radius: 0.25rem;*/
	border-color: #d4869b;
	color: @gv_magenta; 
}

#workspaces button.urgent {
    background-color: #00FF00;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin-left: 30px;
}

#clock {
	color: @gv_magenta;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
	padding-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network.disconnected {
	color: @gv_yellow;
}

#battery.charging, #battery.plugged {
    color: @gv_green;
}

#battery.critical:not(.charging) {
    color: @gv_red;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
